<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class="container" class= "navbar-lewagon">
<h1>Here's your cocktail:</h1>
<p><%= @cocktail.name %></p>

<p> <% @cocktail.doses.each do |dose| %>
<%= dose.ingredient.name  %> <%= dose.description  %> | <%= link_to 'delete', dose, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</p>
<p>
<%= link_to 'list all', cocktails_path %> |
<%= link_to 'add a new dose', new_cocktail_dose_path(@cocktail) %>
</p>
</div>
